{% extends 'catalog/base.html' %}
{% block title %}Добавить\Редактировать товар{% endblock title %}
{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                                {{ form.as_p }}
                            {% endfor %}
                            <button type="submit" class="btn btn-success">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Добавить
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}