{% extends "catalog/base.html" %}
{% block title %}Главная{% endblock title %}
{% block header %}Главная{% endblock header %}
{% block content %}
        <p>Самые популярные товары.</p>
        <div class="row">
            {% for object in object_list %}
              <div class="col-md-3">
                <div class="card">
                  <img src="{{ object.preview.url}}" alt="{{ object.name }}">
                  <div class="card-body">
                      <a href="/product_card/{{ object.id }}"><h5 class="card-title">{{ object.name }}</h5></a>
                    <p class="card-text">{{ object.description|truncatechars:100}}</p>
                    <p class="card-price">{{object.price}}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
{% endblock content %}